.confirmButton {
  background-color: #66c139;
  color: white;
  border: none;
  width: 100%;
  height: 40px;
  font-size: 20px;
  padding: 5px;
  font-weight: bold;
  cursor: pointer;
  position: fixed;
  left: 0;
  bottom: 0;
}
