.QRCodePageTitle {
  display: flex;
  justify-content: space-between;
  background-color: #1b76d2;
  color: white;
  margin: 0;
  padding: 5px;
  font-size: 1.2rem;
}

/* .adminPageLink {
  color: black;
} */

.adminManagePageTags {
  padding: 0;
  margin: 0;
  font-size: 1rem;
}

.adminPageContainer {
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  margin-bottom: 5px;
}

.QRCodePageTitleText {
  align-items: center;
  padding-top: 0.5em;
  font-size: 1.3rem;
  font-weight: bold;
}
