.homepageTitle {
  font-size: 1.7rem;
}

.link {
  font-size: 1.3rem;
  margin: 1.5em;
  padding: 1.5em;
  text-decoration: none;
  color: white;
}

.homePageContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  /* border: 1px solid pink; */
}

.tableInput {
  font-weight: bold;
  font-size: 1.25em;
  /* height: 2em; */
  padding: 5px;

  width: 30%;
  text-align: center;
}

.check-in-detail {
  font-weight: bold;
  font-size: 1.25em;
  text-align: center;
  padding: 0.25em;
}
