.header1 {
  color: white;
  margin: 0;
}

.tabs {
  background-color: #e9e9e9;
  display: flex;
  justify-content: center;
}

.tabsPanel {
  font-weight: 700;
  font-size: 1.25em;
  color: white;
}

.topLine {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #ffc400;
  padding: 5px;
}
