.loginPageTitle {
  /* background-color: #125fd3; */
  color: black;
  margin: 0;
  padding: 5px;
  font-size: 2.5rem;
  /* text-shadow: 10px 10px 0 #ffd217, 20px 20px 0 #5affce, 30px 30px 0 #ffd217,
    20px 20px 0 #5aff83; */
  font-family: monospace;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.loginItems > * {
  margin: 10px 0;
  font-size: 1.3rem;
}

.loginPageLink {
  color: black;
}

.logout-button {
  color: white;
  float: right;
  font-size: 1.1rem;
  margin-top: 3px;
  font-weight: bold;
}

.logoutText {
  color: white;
  font-size: 1.1rem;
  margin-top: 3px;
  font-weight: bold;
}

.bg {
  /* background-image: url("../img/cha.jpeg"); */
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  z-index: -5;
  position: fixed;
  top: 0;
  opacity: 0.6;
}

@media screen and (max-width: 500px) {
  .bg {
    background-position: right 35% bottom 45%;
  }
}
