.dishInfo {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: aqua;
}

.header1 {
  background-color: #66c139;
  color: white;
  margin: 0;
  padding: 3px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* img {
  width: 50%;
} */

.confirmButtonLeft {
  background-color: rgb(233, 233, 233);
  border: none;
  width: 50%;
  height: 40px;
  font-size: 20px;
  padding: 5px;
  font-weight: bold;
  cursor: pointer;
  position: fixed;
  left: 0;
  bottom: 0;
}

.confirmButtonRight {
  background-color: #66c139;
  color: white;
  border: none;
  width: 50%;
  height: 40px;
  font-size: 20px;
  padding: 5px;
  font-weight: bold;
  cursor: pointer;
  position: fixed;
  right: 0;
  bottom: 0;
}
