body {
  margin: 0;
}

.header1 {
  background-color: #66c139;
  color: white;
  margin: 0px;
  padding: 0 10px;
  text-align: left;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  width: 50%;
}

.confirmButton {
  background-color: #66c139;
  color: white;
  border: none;
  width: 100%;
  height: 40px;
  font-size: 20px;
  padding: 5px;
  font-weight: bold;
  cursor: pointer;
  position: fixed;
  left: 0;
  bottom: 0;
}

.receiptButton {
  color: white;
  float: right;
  font-size: 1.1rem;
  margin-top: 3px;
  font-weight: bold;
}
