body {
  margin: 0;
}

.header1 {
  background-color: #66c139;
  margin: 0;
  color: white;
  padding: 5px;
}
.header2 {
  /* background-color: #d5e8d4; */
  margin: 0;
  /* border: 1px solid rgb(46, 46, 46); */
}
.header3 {
  background-color: rgb(233, 233, 233);
  padding: 5px;
  display: flex;
  justify-content: space-between;
  /* border-bottom: 1px solid rgb(46, 46, 46); */
}

img {
  width: 100%;
}

.confirmButtonLeft {
  background-color: rgb(233, 233, 233);
  border: none;
  width: 50%;
  height: 40px;
  font-size: 20px;
  padding: 5px;
  font-weight: bold;
  cursor: pointer;
  position: fixed;
  left: 0;
  bottom: 0;
}

.confirmButtonRight {
  background-color: #66c139;
  color: white;
  border: none;
  width: 50%;
  height: 40px;
  font-size: 20px;
  padding: 5px;
  font-weight: bold;
  cursor: pointer;
  position: fixed;
  right: 0;
  bottom: 0;
}
