.container {
  display: flex;
}

.left {
  flex: 2;
  text-align: left;
  padding: 0 25px;
}

.middle {
  flex: 1;
}

.right {
  flex: 1;
}

.test{
  font-size: 50px;
  border-bottom: 1px  solid black;
}