.staffManagePageTitle {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #1b76d2;
  color: white;
  margin: 0;
  padding: 5px;
  /* font-size: 1.1rem; */
}

.header1 {
  color: white;
  margin: 0;
}
